<div class="ui attached stackable menu">
  <div class="ui container">
    {{#link-to 'users' class="item"}}
      <i class="users icon"></i> Usuarios
    {{/link-to}}
    <a class="item">
      <i class="paw icon"></i> Puntuaciones
    </a>
    <a class="item">
      <i class="line chart icon"></i> Estadísticas
    </a>
  </div>
</div>

{{outlet}}

