<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    Lista de usuarios
  </p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>

<table class="ui celled padded table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Email</th>
  </tr></thead>
  <tbody>
{{#each model as |user|}}
  <tr>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
  </tr>
{{/each}}
  </tbody>
</table>
